body{
  background-color: lightblue;
}
a:link{
  text-decoration:none;
  color:red;
}
a:visited{
  color:blue;
}
a:hover{
  background-color:yellow;
}
#hidden:hover{
  text-align:center;
  color:black;
}
#hidden{
  color:lightblue;
}
#special_code{
  width: 180px;
}
#luck{
  color:black;
}
#hide{
  text-align: right;
}
h1{
  text-align:center;
  border-bottom: 1px solid black;
  margin:0;
  padding: 20px;
}
div{
  text-align: center;
}
ul{
  margin:10px;
  padding-left:30px;
}
ul li{
  font-size:30px;
}
